body{
    background-color: #2c3e50;
    background-size: cover;
    font-family: 'PT Sans' ;
}

.box{
    padding-top: 35px;
    width: 400px;
    height: 500px;
    box-sizing: border-box;
    text-align: center;
    border: #f39c12;
    box-shadow: 0 20px 40px rgb(0, 0, 0);
    margin: 8% auto;
    background-color: #ecf0f1;

}

.title{
    font-size: 30px;
    color: #f39c12;
    font-family: sans-serif;
}

#todo-input {

    width: 300px;
    height: 25px;
    padding: 5px;
    font-size: 18px;
    outline: none;
    border: none;
    background-color: #ecf0f1;
    border-bottom: 2px solid #f39c12;
}

#add-todo-btn {

    color: white;
    border-radius: 50%;
    outline: 0;
    border: none;
    padding: 4px;
    background-color: #f39c12;

}
.fa-plus {
    font-size: 16px;
    height: 16px;
    width: 16px;

}

.input-class {
    width: 90%;
    padding: .2rem;
    margin: 0 auto;
    border-radius: 20px;

}

.list-child {
    text-decoration: none;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    margin-right: 50px;
    position: center;

}

.list-child .fa-trash {
    font-size: 16px;
    height: 16px;
    width: 16px;
    outline: none;
    border: none;
    color: #f39c12;

}

.list-child input {
    height: 16px;
    width: 16px;

}

